---
layout: compress
---

{% include base_path %}

{% assign window_title = page.title | default: site.name | markdownify | strip_html | strip_newlines %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}

    <div class="desktop">
      <div class="window">
        <div class="titlebar">
          <span class="titlebar__box" aria-hidden="true"></span>
          <div class="titlebar__title">{{ window_title }}</div>
          <span class="titlebar__box" aria-hidden="true"></span>
        </div>

        {% include masthead.html %}

        {{ content }}

        <div class="page__footer">
          <footer>
            {% include footer/custom.html %}
            {% include footer.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>
